/**
===========================================
NAVIGATION BAR
===========================================
*/

.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--surface);
  border-bottom: 4px solid var(--onSurface);
  overflow: hidden;
}

.Navbar ul {
  list-style: none;
  display: flex;
}

.Navbar .home-li {
  margin-right: auto;
}

.Navbar li {
  display: flex;
}

.OpenSideBarPanel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--surface);
  border-bottom: 4px solid var(--onSurface);
  display: none;
}

.OpenSideBarPanelTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.OpenSidebarButton {
  z-index: 50;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.CloseSidebarButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

@media screen and (max-width: 64rem) {
  .OpenSidebarButton,
  .CloseSidebarButton {
    display: block;
  }

  .OpenSideBarPanel {
    display: flex;
  }

  .Navbar {
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    height: 100vh;
    width: clamp(50%, 30rem, 100%);
    z-index: 100;
    border-left: 4px solid var(--onSurface);
    transition: right 300ms ease-in-out;
    padding: 1rem;
  }

  .Navbar ul {
    row-gap: 1rem;
  }

  .Navbar.show {
    right: 0;
  }
  .Navbar.show ~ .overlay {
    display: block;
  }
  .Navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .NavbarButton {
    width: 100%;
  }
}
