/**
===========================================
NAVIGATION BAR
===========================================
*/

.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--surface);
  border-bottom: 4px solid var(--onSurface);
  overflow: hidden;
}

.Navbar ul {
  list-style: none;
  display: flex;
}

.Navbar .home-li {
  margin-right: auto;
}

.Navbar li {
  display: flex;
}

.Navbar a {
  z-index: 10;
  overflow: hidden;
  display: flex;
  text-decoration: none;
  padding: 1em 2em;
  color: var(--onSurface);
  transition: all 150ms ease;
  background-color: var(--surface);
}

.Navbar a:hover {
  overflow: hidden;
  background-color: var(--surfaceDim);
  translate: 10px 10px;
  box-shadow: -10px -10px black;
}

.Navbar a:active {
  background-color: var(--surfaceDim);
  translate: 15px 15px;
  box-shadow: -15px -15px black;
}

.Navbar a.active-link {
  border-bottom: 2px solid var(--onSurface);
}

.NavbarCover {
  z-index: 10;
  background-color: var(--surface);
  width: 100%;
}

#open-sidebar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}

.CloseSidebarButton {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid #ffffff;
}

@media screen and (max-width: 64rem) {
  #open-sidebar-button,
  .CloseSidebarButton {
    display: block;
  }

  .Navbar {
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    height: 100vh;
    width: clamp(50%, 30rem, 100%);
    z-index: 100;
    border-left: 1px solid var(--onSurface);
    transition: right 300ms ease-in-out;
  }
  .Navbat.show {
    right: 0;
  }
  .Navbar.show ~ #overlay {
    display: block;
  }
  .Navbar ul {
    width: 100%;
    flex-direction: column;
  }
  .Navbar a {
    width: 100%;
    padding-left: 2.5em;
  }
  .Navbar a.active-link {
    border-bottom: none;
  }
  .Navbar .home-li {
    margin-right: unset;
  }
}
