.RetroButtonBorder {
  border: 5px solid black;
}

.RetroButton {
  padding: 5px;
  background-color: var(--surface);
  border: 7px outset var(--surfaceDim);
  transition: all 0.3s;
}

.RetroButton:hover {
  border: 7px solid var(--surface);
}

.RetroButton:active {
  border: 7px inset var(--surfaceDim);
}
