.Window {
  border: 4px solid black;
  background-color: white;
  max-width: 64rem;
  justify-self: center;
  box-shadow: 10px 10px 0px 1px black;
}

.WindowBar {
  background-color: var(--surface);
  min-height: 2rem;
}
